<!doctype html>
<html>
  <head>
    <style> 
      h1 {font-size:50px;font-family:Segoe UI;font-weight:bold;color:rgb(64,75,222);text-align:center;)}
      #banner{
        width:100%; height: 360px;object-fit:'cover';
      }
      h2{font-family:Segoe UI;font-weight:bold;font-size:30px;color:rgb(100,149,237);text-align:left;}
      .bodytext{font-family:Segoe UI;font-weight:normal;font-size:20px;color:rgb(80,80,80);text-align:center;}
      #container{max-width:720px;margin:0 auto 0 auto; }
    </style>
    <title>
      Bade Carreers
    </title>
  </head>
  <body>
    <div id='container'>
      <h1>
        Bade Career Home Page
      </h1>
      <img id='banner' img src="static/banner.jpeg.jpg" alt="Bade Logo">
       <h2 >About Site </h2>
      <p class='bodytext'>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.</p>
      <p class='bodytext'>  See the jobs here - To DO</p>
    </div>
    <div style="text-align:center;">
      <button>  Contact Us</button>
      <p>
        Copyright Bade Careers 2023
      </p>
    </div>
  </body>
</html>