<div class= 'border-bottom row 'style="margin-bottom:12px;padding-bottom: 8px;">
  <div class='col-9'> 
  <h4 style="color:rgb(135,206,235); margin-bottom: 4px;">
    {{ job['title'] }}
  </h4>
  <div><b>Location: {{ job['location'] }}</b></div>
  {% if 'salary' in job %}
    <div><b>Salary: {{ job['salary'] }}</b></div>
  {% endif %}
    </div>
  <div class='col-3 d-flex align-items-center justify-content-end''>
    <button type="button" class="btn btn-success" >Apply </button>
  </div>
  
</div>